<!DOCTYPE html>
<html lang="Pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dockerized Sinatra App</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <h1>Bem vindo ao meu sote Dockerizado Sinatra App!</h1>
    <p>Este é apenas um teste.</p>
  </div>
</body>
</html>
